{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Logger!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'log_wow/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'log_wow/responsive.css' %}" />
    <script src="https://kit.fontawesome.com/fddc2a7317.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="imager">
        <img src="https://dl.dropboxusercontent.com/s/yyis4eajbtdfkqc/Fondo_poligon.png?dl=0" alt="mountains">
    </div>
    <div class="signed">
      {% if user.is_authenticated %}
      <p><i class="fa-solid fa-user-astronaut"></i> 
          Signed in as <strong>{{ user.username|capfirst }}</strong></p>
          <div>
            <a href="{% url 'logout' %}"><button>Log Out</button></a>
        </div>    
      {% else %}
        <p><i class="fa-solid fa-user-injured"></i> Not signed in.</p>
      {% endif %}
    </div>
    <main>   
        {% block body %} 
        {% endblock %}
    </main>
    
  </body>
</html>
